html,
body
{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

/* Nav bar */

nav
{
    position: fixed;
    left: 0;
    height: 100%;
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #bdc3c7;
}

nav h1
{
    color: grey;
}

nav ul
{
    list-style: none;
    padding: 0;
}

nav ul li a
{
    text-decoration: none;
    color: grey;
    font-weight: bold;
    transition: 0.3s;
}

nav ul li a:hover
{
    opacity: 0.5;
}

/* gallery */

main
{
    padding-left: 10%;
}

main h2
{
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
}

main .js-gallery
{
    padding-top: 10%; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

main .js-gallery .image--container--small
{
    padding: 2%;
    position: relative;
}


main .js-gallery .image--container--small:hover::after
{
    content: "View more";
    position: absolute;
    width: 80%;
    left: 10%;
    color: white;
    background: #00000080;
    text-align: center;
}

main .js-gallery .image--container--large
{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #00000080;
    z-index: 2;
    transition: 0.3s;
}

main .js-gallery .image--container--large .image--large
{
    transition: 0.2s;
    position: fixed;
    transform: translateX(20%) translateY(10%);
}